<div xmlns:th="http://www.springframework.org/tags/form" >
    <h4>Edit User</h4>
    <div th:if="${userDTO != null}">
        <!--@{/product/{id}(id=${item.id})}-->
        <form th:action="@{/admin/user/edit/{id}(id=${userDTO.id})}" method="post">
                <div class="form-group">
                    <label for="firstName">Fist Name</label>

                    <input  class="form-control" name="firstName" id="firstName" type="text" placeholder="Enter Fist Name" th:value="${userDTO.firstName}">

                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" name="lastName" id="lastName" type="text"  placeholder="Enter Last Name" th:value="${userDTO.lastName}">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input class="form-control" name="email" id="email" type="email"  aria-describedby="emailHelp" placeholder="Enter email" th:value="${userDTO.email}">
                    <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                    <label for="passWord">Password</label>
                    <input class="form-control" name="passWord" id="passWord" type="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="rePassWord">Re Password</label>
                    <input class="form-control" name="rePassWord" id="rePassWord"  type="password" placeholder="Enter the password again">
                </div>
                <input type="submit" value="Edit" class="btn btn-success">
        </form>

        <div style="margin-top: 10px;" th:if="${rs!= null}">
            <span  th:text = "${msg}"></span>
            <ul th:each="data : ${errorList}">
                <li style="color: red;" th:text="${data.getDefaultMessage()}"></li>
            </ul>
        </div>
    </div>
</div>