<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="page-footer pt-3 pt-sm-4 bg-primary ">
    <!-- Footer -->
    <!-- Footer Links -->
    <div class="container">
        <a th:href="@{/}" class="d-flex justify-content-center mt-20 mb-20">
            <img src="/img/logo.png" alt="logo">
        </a>
        <div class="footer-quote">
            <p class="quote">Flowers always make people better, happier, they</p>
            <p class="quote">are sunshine and medicine for the soul. </p>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <h4>CONTACT</h4>
                <p class="mb-2">We are hear for 24 hours day</p>
                <p class="contact"><i class="fa fa-phone mr-2"></i>0329381641</p>
                <p class="contact"><i class="fa fa-envelope mr-2"></i>story'sflower@gmail.com</p>
                <p class="contact"><i class="fa fa-comment-dots mr-2"></i>Click to chat</p>
            </div>
            <div class="col-5">
                <h4>CONNECT</h4>
            </div>
        </div>
        <div>
            <p></p>
        </div>
    </div>

</footer>
