<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.9.0/css/all.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel='icon' href='/img/favicon.png' type='image/x-icon'/>

<!--<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
